<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @rpc.agent %>
</p>

<p>
  <strong>Action:</strong>
  <%= @rpc.action %>
</p>

<p>
  <strong>Timeout:</strong>
  <%= @rpc.timeout %>
</p>

<p>
  <strong>Discovery timeout:</strong>
  <%= @rpc.discovery_timeout %>
</p>

<%= link_to 'Edit', edit_rpc_path(@rpc) %> |
<%= link_to 'Back', rpcs_path %>

<h2>Listing RpcResults</h2>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Status Code</th>
      <th>Status Message</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rpc.rpc_results.each do |rpc_result| %>
      <tr>
        <td><%= rpc_result.sender %></td>
        <td><%= rpc_result.statuscode %></td>
        <td><%= rpc_result.statusmsg %></td>
        <td><%= rpc_result.data %></td>
      </tr>
    <% end %>
  </tbody>
</table>
